<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Użytkownicy</title>
    </head>
    <body>
        <h1>Lista użytkowników</h1>

        <table>
            <thead>
                <th>
                    Login
                </th>
                <th>
                    Hasło
                </th>
            </thead>

            <tbody>
                <th:block th:each="user : ${users}">
                    <tr>
                        <td th:text="${user.login}">...</td>
                        <td th:text="${user.password}">...</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </body>
</html>
